<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
    <Document name="irisjavagatewaygpt.ZPM">
        <Module>
            <Name>irisjavagatewaygpt</Name>
            <Version>1.0.0</Version>
            <Packaging>module</Packaging>
            <SourcesRoot>chat-gpt-cls/src</SourcesRoot>
            <Resource Name="dc.irisjavagatewaygpt.PKG"/>
        </Module>
    </Document>
</Export>